*{
  margin: 0;
  padding: 0;
}
#root{
  width: 100vw;
  height: 150vh;
  display: grid;
  grid-template-rows: 2fr 1fr 3fr;
  .con-1{
    background-color: #c4c4c4;
    &>div{
      display: flex;
      align-items: center;
      justify-content: center;
      &>div:nth-child(1){
        position: absolute;
        top: 3vh;
        left: 3vh;
      }
      &>div:nth-child(2){
        width: 90vw;
        height: 80vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &>svg:nth-child(1){
          transform: rotate(180deg);
        }
      }
    }
  }
  .con-2{
    background-color: #414141;
    display: flex;
    align-items: center;
    justify-content: center;
    &>div{
      color: #f2f2f2;
      width: 90vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &>div:nth-child(1){
        font-size: 1.5rem;
        font-weight: 300;
      }
      &>div:nth-child(2){
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1vh;
      }
    }
  }
  .con-3{
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    &>div{
      &>div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 1vh;
        &>svg{
          position: relative;
          left: -1vh;
          top: -1vh;
        }
        // 이 부분에서 2열로 정렬을 해줘야 하는 부분
        &>div{
        width: 100%;
        height: 70%;
        display: flex;
        &>ul:nth-child(1){
          width: 150px;
          height: 50px;
          border-radius: 50%;
          border: 1px solid #414141;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          list-style-type: none;
          background-color: #fff;
          row-gap: 1vh;
          &>li:nth-child(1){
            font-size: 0.8rem;
            position: relative;
            top: 5px;
          }
          &>li:nth-child(2){
            width: 50px;
            border: 1px solid #414141;
          }
        }
        &>ul:nth-child(2){
          width: 50px;
          height: 30px;
          border: 1px solid #414141;
          background-color: #fff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          list-style-type: none;
          position: relative;
          top: 2vh;
          left: -2vh;
          transform: rotate(-20deg);
          &>li:nth-child(2){
            width: 40px;
            height: 20px;
            color: #f2f2f2;
            background-color: #414141;
            border-radius: 50%;
            text-align: center;
            font-size: 0.8rem;
            padding-top: 4px;
          }
        }
        }
      }
    }
  }
}