// // @import = @use
// @use "css/base";
// variable & class set
// variable
$color-c4: #c4c4c4;
$color-d6: #d6d6d6;
$color-dg: dimgray;
$color-gr: gray;
$per-100: 100%;
// class set
@mixin flex-align-justify($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
@mixin width-height($width, $height){
  width: $width;
  height: $height;  
}
%flex-center-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
%view-100{
  width: 100vw;
  height: 100vh;
}
%per-100{
  width: $per-100;
  height: $per-100;
}
%inherit{
  width: inherit;
  height: inherit;
}
%border-bk{
  border: 1px solid #000;
}
%border-red{
  border: 1px solid red;
}
%flex-column{
  flex-direction: column;
}
%circle{
  border-radius: $per-100;
}


// style
*{
  margin: 0;
  padding: 0;
}
#root{
  @include width-height(200vw, 100vh);
  #con{
    @extend %inherit;
    // @extend %flex-center-center;
    @include flex-align-justify(center, flex-start);
    // 화면상 보여지는 부분
    &>div:nth-child(1){
      @extend %view-100;
      // 겹치기 위해 시도한 부분
      // position: absolute;
      // left: -90vw;
      &>div{
        @include width-height($per-100, 95%);
        &>div:nth-child(1){
          @include width-height($per-100, 10%);
          // @extend %flex-center-center;
          @include flex-align-justify(center, flex-start);
          &>div:nth-child(1){
            @include width-height(80%, $per-100);
            background-color: $color-d6;
            @extend %flex-center-center;
          }
          &>div:nth-child(2){
            @include width-height(20%, $per-100);
            background-color: $color-c4;
            @extend %flex-center-center;
          }

        }
        &>div:nth-child(2){
          @include width-height($per-100, 90%);
          @include flex-align-justify(center, flex-end);
          ul{
            @include width-height(50%, $per-100);
            background-color: $color-c4;
            list-style-type: none;
            @include flex-align-justify(center, space-around);
            @extend %flex-column;
            li{
              @include width-height(30vw, 30vw);
              // 최대 크기 설정
              max-width: 150px;
              max-height: 150px;
              background-color: #fff;
              @extend %circle;
              @extend %flex-center-center;
            }
          }
        }
        &>div:nth-child(3){
          @include width-height(10vw, 10vh);
          background-color: $color-dg;
          position: absolute;
          top: 10vh;
          left: 100vw;
          border-radius: 0 10px 10px 0;
        }

      }
    }
    // 펼치면 나오는 부분
    &>div:nth-child(2){
      @extend %view-100;
      // order: 1;
      @extend %flex-center-center;
      &>div{
        @include width-height($per-100, 90%);
        @extend %border-bk;
        background-color: $color-c4;
        &>div{
          @extend %per-100;
          ul{
            @extend %per-100;
            list-style-type: none;
            // !flex-grow를 사용하기 위해서 써준 부분
            @extend %flex-center-center;
            @extend %flex-column;
            li{
              // !flex-grow로 나눠주는 편이 height 값을 따로 지정해준 것보다 비율을 똑같이 남김없이 나눠줌
              flex-grow: 1;
              @include width-height($per-100, inherit);
              border-bottom: 1px solid black;
            }
          }
        }
      }
    }
  }
}