// @import base.scss
@import './base.scss';

// style
svg{
  width: 100px;
  height: 100px;
  position: absolute;
  left: 30vw;
}
#item-1,#item-2,#item-3{
  @include width-height(20vh, 20vh);
  border: $border-bk;
  box-shadow: 5px 5px 10px rgba($color: $color-c4, $alpha: .5);
  transform: skewY(-10deg);
}
#text-1,#text-2,#text-3{
  transform: skewY(-10deg);
}