@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  background-color: #f2f2f2;
  overflow: hidden;
}

#arrow-con {
  width: inherit;
  height: 12.5vh;
  border: 1px solid #414141;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
}

#arrow-con > img {
  position: relative;
  left: 5vh;
}

#btn-con {
  width: 5vh;
  height: 25vh;
  position: -webkit-sticky;
  position: sticky;
  left: 1vh;
  display: -ms-grid;
  display: grid;
  /* 버튼 세로값 */
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

button {
  border-radius: 20px 0px 0px 20px;
  border: 1px solid #414141;
}

#note-con {
  width: 90vw;
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  top: -25vh;
  left: 6vh;
  overflow: scroll;
}

#note-con > div {
  width: 90vw;
  height: 75vh;
  position: absolute;
  row-gap: 1vh;
}

#note-con > div > img {
  -o-object-fit: fill;
     object-fit: fill;
  border: 1px solid #c4c4c4;
  -webkit-box-shadow: 0px 5px 1px rgba(65, 65, 65, 0.2);
          box-shadow: 0px 5px 1px rgba(65, 65, 65, 0.2);
}

#note-con > #sticker-con {
  width: 90vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  /* #con>div:nth-child(4)에서 클릭 이벤트 */
  display: none;
  position: absolute;
  left: 0;
}

#note-con > #sticker-con > div {
  border: 1px solid #414141;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
  background-color: #f2f2f2;
}

#note-con > #sticker-con > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* flex-direction: column; */
  border: 1px solid #414141;
  -webkit-column-gap: 1vh;
          column-gap: 1vh;
}

#note-con > #sticker-con > div > div:nth-child(1) {
  /* image item */
}

#note-con > #sticker-con > div > div:nth-child(1) > div:nth-child(1) {
  width: 20vh;
  height: 20vh;
  background-color: #c4c4c4;
}

#note-con > #sticker-con > div > div:nth-child(1) > div:nth-child(2) {
  position: relative;
  /* top: -3vh;
          left: 1vh; */
}

#note-con > #sticker-con > div > div:nth-child(1) > div:nth-child(3) {
  position: relative;
}

#con > div:nth-child(4) {
  width: 100vw;
  height: 12.5vh;
  border: 1px solid #414141;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 2vh;
          column-gap: 2vh;
  background-color: #f2f2f2;
}

#con > div:nth-child(4) > div {
  right: 5vh;
  position: relative;
}

#con > div:nth-child(4) > div:nth-child(1) {
  font-size: 1.2rem;
}
/*# sourceMappingURL=5-1-note-page.css.map */